@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Raleway&display=swap");
.nav {
  padding: 1vmax 2vmax;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  background-color: white;
  border-bottom: 1px solid rgba(43, 43, 27, 0.153);
}
.navlinks {
  color: rgb(59, 59, 59);
  text-decoration: none;
  margin: 1vmax 2vmax;
  font-weight: 500;
  font: 1.2vmax;
  font-family: "Mulish", sans-serif;
}
.navlinks:hover {
  color: orangered;
  text-decoration: none;
}
.logo {
  background-color: orangered;
  width: 58px;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  right: 2vmax;
  display: flex;
  align-items: center;
  margin-left: 7vmax;
}
#logoImg {
  transition: all 0.3s;
  transform: translateX(-58px);
}
#logoImg:hover {
  transform: translateX(0);
}
.searchbox {
  position: relative;
  left: 7vmax;
}
.searchbox > input {
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.76);
  font-size: 1.1vmax;
  width: 16vmax;
  color: rgb(69, 69, 69);
  outline: none;
  font-weight: 100;
}
.searchbox > svg {
  fill: rgb(69, 69, 69) !important;
}
